/* The side navigation menu */
.sidebar {
    -fx-padding: 0;
    -fx-background-color: #000042;
    -fx-pref-width: 200px;
    -fx-border-width: 0 1px 0 0; /* border on the right side */
    -fx-border-color: #ccc;
}

/* Sidebar buttons */
.sidebar .button {
    -fx-background-color: #000042;
    -fx-text-fill: white;
    -fx-padding: 16px;
    -fx-border-width: 0 0 1px 0; /* border between buttons */
    -fx-border-color: #ccc;
    -fx-border-style: solid;
    -fx-cursor: hand;
    -fx-min-width: 200px;
    -fx-alignment: center-left;
}

/* Links on mouse-over */
.sidebar .button:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
}

/* Main content */
.center {
    -fx-padding: 20px;
    -fx-background-image: url("image1.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
}

/* Root element */
.root {
    -fx-padding: 10px;
    -fx-background-color: #f0f0f0;
}

/* Title bar */
.title-bar {
    -fx-background-color: #000042;
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-padding: 10px;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-min-height: 50px; /* Set a minimum height for the title bar */
}

/* Add Users Page */
.add-user-pane {
    -fx-background-color: #000042;
    -fx-padding: 20px;
    -fx-alignment: center;
    -fx-spacing: 10px;
}

.add-user-pane .text-field {
    -fx-pref-width: 300px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.add-user-pane .button {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-padding: 10px 20px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.add-user-pane .button:hover {
    -fx-background-color: black;
    -fx-text-fill: white;
}
